<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">RESULTADO</h1>
        </div>
        <div class="row">
            <div class="col">
                <form method="post" action="/create">
                    <div>
                    <label for="enlace">Dirección Url</label>
                    <input type="text" value="http://localhost:5000/short/{{corto}}">
                </div>
                </form>
                <div >
                    <form action="/" method="get">
                        <button type="submit" >volver</button>
                    </form>
                    <div><button type="submit" >copiar</button></div>
                </div>
            </div>
        </div>
</body>
</html>